body {
    background-color: #04151F;
    color: #EFD6AC;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

section {
    max-width: 30%;
    padding-left: 1%;
}

main {
    display: flex;
}

nav{
    margin-top: 1%;
    font-family: "Lato", serif;
}

nav a {
    text-decoration: none;
    color: #EFD6AC;
}

h3 {
    font-family: "Texturina", serif;
    font-size: 32px;
}

p {
    font-family: "Lato", sans-serif;
}


.iconDiv {
    max-width: 100px;
}
 

 

 