body {
    background-color: #04151F;
    color: #EFD6AC;
    padding-left: 5%;
    padding-right: 5%;
}

h3 {
    font-family: "Texturina", serif;
    font-size: 38px;
}

p {
    font-family: "Lato", sans-serif;
}

#output {
 display: flex;
 flex-wrap: wrap;
 max-width: 100%;
 
}

#spellsOutput {
    display: flex;
    flex-wrap: wrap;
}

/* SPECIES ITEMS */
.dnd-item {
    min-width: 300px;
    background-color: bisque;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 1%;
    width: 20%;
}

.dnd-item p {
    font-family: "Texturina", serif;
    display: flex;
    justify-content: center;
    color: #04151F;
}

.image-mask {
    min-width: 300px;
    height: 300px;
    overflow: hidden;
  }

.image-mask img {
  width: 100%;
  height: auto;
}

/* SPELL ITEMS */
.spell-item {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    background-color: bisque;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 1%;
    width: 20%;
}

.spell-item p {
    font-family: "Texturina", serif;
    display: flex;
    justify-content: center;
    color: #04151F;
}

.spell-item img {
    max-width: 100px;
    padding: 10px;
    margin: auto;
}

.spell-item a {
    display: flex;
    justify-content: center;
}
 

 